<ion-view title="{{cpeService.serviceValue.deviceName}}" hide-nav-bar="true">
	<ion-content class="padding-top" scroll="auto">
			<h3 class="tac padding-top">{{data.local.status}}</h3>
			<ion-list ng-if="data.local.isAp" class="show padding-top">
				<ion-item>
					<span ng-bind="data.local.str.ipaddr"></span>
					<span class="item-note" ng-bind="data.local.ipaddr"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.mask"></span>
					<span class="item-note" ng-bind="data.local.netmask"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.ssid"></span>
					<span class="item-note" ng-bind="data.local.ssid"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.wirelessMode"></span>
					<span class="item-note" ng-bind="data.local.wirelessMode"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.bandwidth"></span>
					<span class="item-note" ng-bind="data.local.bandwidth"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.channel"></span>
					<span class="item-note" ng-bind="data.local.channel"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.encryption"></span>
					<span class="item-note" ng-bind="data.local.encryption"></span>
				</ion-item>
				<ion-item ng-if="data.local.key != undefined">
					<span ng-bind="data.local.str.key"></span>
					<span class="item-note" ng-bind="data.local.key"></span>
				</ion-item>
				<ion-item>
					<span ng-bind ="data.local.str.distance"></span>
					<span class="item-note" ng-bind="data.local.distance"></span>
				</ion-item>
			</ion-list>
			<ion-list ng-if="!data.local.isAp">
				<ion-item>
					<span ng-bind="data.local.str.ipaddr"></span>
					<span class="item-note" ng-bind="data.local.ipaddr"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.mask"></span>
					<span class="item-note" ng-bind="data.local.netmask"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.ssidOfAp"></span>
					<span class="item-note" ng-bind="data.local.ssidOfAp"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.key"></span>
					<span class="item-note" ng-bind="data.local.key"></span>
				</ion-item>
				<ion-item>
					<span ng-bind="data.local.str.distance"></span>
					<span class="item-note" ng-bind="data.local.distance"></span>
				</ion-item>
			</ion-list>
			<button ng-if="!cpeService.serviceValue.isSuccess" ng-click="action.startOver()" class="button button-wx button-positive next-step-btn" ng-bind="data.local.str.quickSet"></button>
			<button ng-if="!cpeService.serviceValue.isSuccess" ng-click="action.goToPcWeb()" class="button button-wx button-outline button-positive positive next-step-btn" ng-bind="data.local.str.openPcWeb"></button>
			<div ng-if="cpeService.serviceValue.isSuccess && data.local.isAp" class="success-tip">
				<span>{{data.local.str.tipSsid}}<span class="positive">{{data.local.ssid}}</span>{{data.local.str.tipIp}}<span class="positive">{{data.local.ipaddr}}</span></span>
			</div>
	</ion-content>
</ion-view>