<ion-view title="{{data.local.str.step2}}">
	<ion-content class="padding-top">
		<ng-form name="lan.form" novalidate>
			<ion-list class="">
				<ion-item class="item-input">
					<label class="input-label" ng-bind="data.local.str.ipaddr"></label>
					<input ng-model="data.local.ipaddr" class="item-input" name="ipaddr" type="text" maxLength="15" placeholder="{{data.local.str.ipaddrInput}}" required check-lan-ip></input>
				</ion-item>
				<div ng-messages="lan.form.ipaddr.$error" ng-show="lan.form.ipaddr.$dirty">
					<div ng-message="required">
						<label class="item-alert" ng-bind="data.local.str.required"></label>
					</div>
					<div ng-message="checkLanIp">
						<label class="item-alert" ng-bind="data.local.str.invalidIp"></label>
					</div>
				</div>
				<ion-item class="item-input">
					<label class="input-label" ng-bind="data.local.str.netmask"></label>
					<input ng-model="data.local.netmask" class="item-input" name="mask" type="text" maxLength="15" placeholder="{{data.local.str.netmaskInput}}" required check-lan-mask></input>
				</ion-item>
				<div ng-messages="lan.form.mask.$error" ng-show="lan.form.mask.$dirty">
					<div ng-message="required">
						<label class="item-alert" ng-bind="data.local.str.required"></label>
					</div>
					<div ng-message="checkLanMask">
						<label class="item-alert" ng-bind="data.local.str.invalidMask"></label>
					</div>
				</div>
			</ion-list>
		</ng-form>

		<p ng-hide="true" class="grey padding-left" ng-bind="data.local.str.ipaddr"></p>
		<div ng-hide="true" class="row padding-left padding-right">
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
		</div>
		<p ng-hide="true" class="grey padding-left" ng-bind="data.local.str.netmask"></p>
		<div ng-hide="true" class="row padding-left padding-right">
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
			<input class="item-input col-25" type="number" min="0" max="255"></input>
		</div>
		<button ng-disabled="lan.form.$invalid" class="button button-wx button-positive next-step-btn" ng-bind="data.local.str.nextStep" ng-click="action.goToNext()"></button>
	</ion-content>
</ion-view>