<ion-view title="{{data.local.str.title}}">
	<ion-content class="padding-top">
		<ng-form name="login.form" novalidate>
			<span ng-if="cpeService.serviceValue.isSessionTimeout" class="show item-warning" ng-bind="cpeService.serviceConstant.STR.LOGIN.ALERT.SESSIONTIMEOUT"></span>
			<span ng-if="cpeService.serviceValue.isLocked" class="show item-alert" ng-bind="cpeService.serviceConstant.STR.LOGIN.ALERT.CLIENTLOCKED"></span>
			<span ng-if="data.local.attempLoginTimesLeft <= 5 && data.local.attempLoginTimesLeft > 0" class="show item-alert">{{data.local.str.usernamePwdErr + data.local.attempLoginTimesLeft}}</span>
			<ion-list>
				<ion-item class="item-input">
					<label ng-if="cpeService.serviceValue.isFactory" class="input-label" ng-bind="data.local.str.setUsername"></label>
					<label ng-if="!cpeService.serviceValue.isFactory" class="input-label" ng-bind="data.local.str.inputUsername"></label>
					<input ng-disabled="cpeService.serviceValue.isLocked" ng-model="data.local.username" name="username" type="text" maxlength="31" placeholder="{{data.local.str.inputUsername}}" required check-login-username></input>
				</ion-item>
				<div ng-show="login.form.username.$dirty" ng-messages="login.form.username.$error">
					<div ng-message="required">
						<span class="item-alert" ng-bind="data.local.str.required"></span>
					</div>
					<div ng-message="maxlength">
						<span class="item-alert" ng-bind="data.local.str.usernameLength"></span>
					</div>
					<div ng-message="checkLoginUsername">
						<span class="item-alert" ng-bind="data.local.str.invalidUsername"></span>
					</div>
				</div>
				<ion-item class="item-input item-icon-right">
					<label ng-if="cpeService.serviceValue.isFactory" class="input-label" ng-bind="data.local.str.setPassword"></label>
					<label ng-if="!cpeService.serviceValue.isFactory" class="input-label" ng-bind="data.local.str.inputPassword"></label>
					<input ng-disabled="cpeService.serviceValue.isLocked" ng-model="data.local.password" minlength="6" maxlength="15" name="password" type="{{data.local.inputType}}" placeholder="{{data.local.str.inputPassword}}" required check-login-password></input>
					<i ng-show="data.local.password.length > 0" ng-click="action.showPassword()" class="icon ion-eye {{data.local.eyecls}}"></i>
				</ion-item>
				<div ng-messages="login.form.password.$error" ng-show="login.form.password.$dirty">
					<div ng-message="required">
						<span class="item-alert" ng-bind="data.local.str.required"></span>
					</div>
					<div ng-message="minlength, maxlength">
						<span class="item-alert" ng-bind="data.local.str.passwordLength"></span>
					</div>
					<div ng-message="checkLoginPassword">
						<span class="item-alert" ng-bind="data.local.str.invalidPassword"></span>
					</div>
				</div>
				<ion-checkbox ng-disabled="cpeService.serviceValue.isLocked" class="item-height" ng-checked="data.local.isTermsAgreed" ng-model="data.local.isTermsAgreed"></ion-checkbox>
				<ion-label class="terms-of-services">{{data.local.str.agree}}<span class="calm" ng-click="!cpeService.serviceValue.isLocked && action.showTerms()">{{data.local.str.termsTitle}}</span></ion-label>
			</ion-list>
		</ng-form>
		<button ng-if="cpeService.serviceValue.isFactory" ng-disabled="login.form.$invalid || !data.local.isTermsAgreed" ng-click="action.signUp()" class="button button-wx button-positive next-step-btn" ng-bind="data.local.str.confirm"></button>
		<button ng-if="!cpeService.serviceValue.isFactory" ng-disabled="login.form.$invalid || !data.local.isTermsAgreed || cpeService.serviceValue.isLocked" ng-click="action.signIn()" class="button button-wx button-positive next-step-btn" ng-bind="data.local.str.signIn"></button>
	</ion-content>
</ion-view>
